body{
    font-family: monospace;
}

.container{
    display: flex;
    justify-content: space-around;
}

.item{
    border: solid;
    width: 30%;
    text-align: center;
}

.i{
    text-decoration: none;
    
}