body{
    background-color: rgb(192, 253, 233);
}

#html5{
    width: 20%;
}

figure{
    margin-left: 45%;

}

table, tr, td, th{
    border: solid;
    margin-left: 35%;
}

h1{
    margin-left: 40%;
}

td:hover{
    background-color: white;
}