
/* seletor de elementos */
body{
    background-color: #f0fbff;
    font-family: cursive;
}

p{
    color:#475053
}

/* seletor de classe */
.minhaclasse{
    text-align: center;

}

/*Seletor de ID */
#sec1{
    background-color: black;
}